<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/images/A.png">

    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/portfolio.css">
</head>
<body>
    <div class="main">
        <div class="content">
            <div class="header">
                <h1>WORKS</h1>
                <h2>MY <span>PORTFOLIO</span></h2>
            </div>
            <div class="grid-portfolio">
              
                <div class="grid-item" data-link="https://drive.google.com/file/d/15duB2WUEMLGVjI3Fv89euUq6EndbJ6Av/view">
                    <div class="inner-grid-div"><img src="/images/PROJECT1.png" alt=""></div>
                </div>
                
                <div class="grid-item" data-link="https://www.youtube.com/shorts/-20QMCXL9vs">
                    <div class="inner-grid-div"><img src="/images/PROJECT2.png" alt=""></div>
                </div>
            
                <div class="grid-item" data-link="https://www.instagram.com/p/C7GZ-EdKxwZ/">
                    <div class="inner-grid-div"><img src="/images/PROJECT3.png" alt=""></div>
                </div>
                  <!--<div class="grid-item" data-link="https://abhinayanair.onrender.com/portfolio/">
                    <div class="inner-grid-div"><img src="/images/PROJECT4.png" alt=""></div>
                </div>
               <div class="grid-item" data-link="https://abhinayaanair.github.io/countdown/">
                    <div class="inner-grid-div"><img src="/images/countdown.png" alt=""></div>
                </div>
                <div class="grid-item" data-link="https://tourco-fc9w.onrender.com/listings">
                    <div class="inner-grid-div"><img src="/images/TOURCO (1).png" alt=""></div>
                </div>
                <div class="grid-item" data-link="https://github.com/abhinayaanair/REACT-PROJECTS">
                    <div class="inner-grid-div"><img class="tourco" src="https://miro.medium.com/v2/resize:fit:1400/1*x0d41ns8PTQZz4a3VbMrBg.png" alt=""></div>
                </div>
                <div class="grid-item" data-link="https://ecochoice.onrender.com/ecochoice">
                    <div class="inner-grid-div"><img src="/images/eco-choice.png" alt=""></div>
                </div>
  <div class="grid-item" data-link="https://abhinayaanair.github.io/CloneWars/">
                    <div class="inner-grid-div"><img src="https://www.india.com/wp-content/uploads/2020/08/IPL-Logo.jpg" alt=""></div>
                </div> -->
            </div>

            <div class="navigation-bar">
                <nav>
                    <ul>
                        <li class="house-li"><a href="/portfolio"><i class="fa-solid fa-house" id="house"></i></a></li>
                        <li class="about-li"><a href="/portfolio/about"><i class="fa-solid fa-user" id="about"></i></a></li>
                        <li><a href="/portfolio/projects"><i class="fa-solid fa-briefcase" id="portfolio"></i></a></li>
                        <li><a href="/portfolio/contact"><i class="fa-solid fa-envelope" id="contact"></i></a></li>
                      
                    </ul>
                    <ul class="sidebar">
                        <li onclick=hideSidebar()><i class="fa-solid fa-xmark" id="close"></i></li>
                        <li class="house-li"><i class="fa-solid fa-house" id="house-nav"></i><a href="/portfolio" id="house-nav">Home</a></li>
                        <div></div>
                        <li class="about-li"><i class="fa-solid fa-user" id="about-nav"></i><a href="/portfolio/about" id="about-nav">About</a></li>
                        <div></div>
                        <li><i class="fa-solid fa-briefcase" id="portfolio-nav"></i><a href="/portfolio/projects" id="portfolio-nav">Portfolio</a></li>
                        <div></div>
                        <li><i class="fa-solid fa-envelope" id="contact-nav"></i><a href="/portfolio/contact" id="contact-nav">Contact</a></li>
                        <div></div>
                       
                    </ul>
                </nav>
                <div class="ham-div" onclick=showSidebar()><i class="fa-solid fa-bars hamburger-menu"></i></div>
            </div>
        </div>
    </div>

    <script>
        const sidebar = document.querySelector(".sidebar");
        const image = document.querySelector(".img");

        function showSidebar() {
            sidebar.style.display = "flex";
            image.style.visibility = "hidden";
        }

        function hideSidebar() {
            sidebar.style.display = "none";
            image.style.visibility = "visible";
        }

        let originalContent = {};
        let gridItems = document.querySelectorAll(".grid-item");

        for (let i = 0; i < gridItems.length; i++) {
            originalContent[i] = gridItems[i].innerHTML;
            gridItems[i].addEventListener('mouseenter', () => changeIt(i, gridItems[i].dataset.link));
            gridItems[i].addEventListener('mouseleave', () => changeAgain(i));
            gridItems[i].addEventListener('touchstart', () => changeIt(i, gridItems[i].dataset.link));
            gridItems[i].addEventListener('touchend', () => changeAgain(i));
            gridItems[i].addEventListener('click', () => window.location.href = gridItems[i].dataset.link);
        }

        function changeIt(index, link) {
            const innerdiv = gridItems[index].querySelector(".inner-grid-div");
            innerdiv.innerHTML = `<div style="display:flex;justify-content:center;align-items:center;margin-top:23%; margin-bottom:23%"><p style="color:black;font-size:2rem;font-family:Poppins;text-decoration:none">CLICK</p></div>`;
            gridItems[index].style.backgroundColor = "#FFB400";
        }

        function changeAgain(index) {
            gridItems[index].innerHTML = originalContent[index];
            gridItems[index].style.backgroundColor = "transparent";
        }
    </script>
</body>
</html>
